<h1><%= t 'janus.sessions.new.sign_in' %></h1>

<%= form_for @user, :url => new_user_session_url do |f| %>
  <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to] %>

  <%= janus_error_messages %>

  <% @user.class.authentication_keys.each do |key| %>
    <div class="field">
      <%= f.label key %>
      <%= f.text_field key %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if @user.respond_to?(:remember_me!) %>
    <div class="field">
      <%= check_box_tag :remember_me, '1', @user.class.human_attribute_name(:remember_me) %>
      <%= label_tag :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('janus.sessions.new.sign_in_btn') %>
  </div>
<% end %>
