<h1><%= t 'janus.registrations.new.sign_up' %></h1>

<%= form_for @user, :url => user_registration_url do |f| %>
  <%= janus_error_messages %>

  <% @user.class.authentication_keys.each do |key| %>
    <div class="field">
      <%= f.label key %>
      <%= f.text_field key %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t('janus.registrations.new.sign_up_btn') %>
  </div>
<% end %>
